.button {
  display: flex;
  justify-content: center;
  background-color: black;
  border-radius: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20.4px 0px rgba(5, 130, 202, 0.25);
  color: #0582ca;
  transition: background-color 0.5s, color 0.5s;
}

.button:hover {
  background-color: #0582ca;
  color: white;
}
